@{
    ViewData["Title"] = "Checkout";
}
<h1>@ViewData["Title"]</h1>

<head>
    <title>Checkout Form</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Checkout Form</legend>
            <div>
                <label for="Name">Name:</label>
                <input type="text" name="Name" value="Name" />
            </div>
            <div>
                <label for="Email">Email:</label>
                <input type="text" name="Email" value="Email" />
            </div>
            <div>
                <label for="PhoneNumber">Phone Number:</label>
                <input type="text" name="PhoneNumber" value="PhoneNumber" />
            </div>
            <legend>Billing Address:</legend>
            <div>
                <label for="Country">Country:</label>
                <input type="text" name="Country" value="" />
            </div>
            <div>
                <label for="City">City:</label>
                <input type="text" name="City" value="" />
            </div>
            <div>
                <label for="ZipCode">Zipcode:</label>
                <input type="text" name="ZipCode" value="" />
            </div>
            <div>
                <label for="Address">Address:</label>
                <input type="text" name="Address" value="" />
            </div>
            <legend>Shipping Address:</legend>
            <div>
                <label for="ShipCountry">Country:</label>
                <input type="text" name="ShipCountry" value="" />
            </div>
            <div>
                <label for="ShipCity">City:</label>
                <input type="text" name="ShipCity" value="" />
            </div>
            <div>
                <label for="ShipZipCode">Zipcode:</label>
                <input type="text" name="ShipZipCode" value="" />
            </div>
            <div>
                <label for="ShipAddress">Address:</label>
                <input type="text" name="ShipAddress" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
</body>


