@model Codecool.CodecoolShop.Models.CheckoutModel

@{
    ViewData["Title"] = "Checkout";
}



<div class="row" action="/OrderController/Order/">
    <div class="col-lg-9" mx-auto rounded border p-3>
        <h2 class="text-center mb-5">Checkout Form</h2>

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="FirstName" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Last Name:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone Number:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>

            <legend>Billing Address:</legend>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Country:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="CountryBill" />
                    <span asp-validation-for="CountryBill" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">City:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="CityBill" />
                    <span asp-validation-for="CityBill" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Zipcode</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ZipCodeBill" />
                    <span asp-validation-for="ZipCodeBill" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Street:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="StreetBill" />
                    <span asp-validation-for="StreetBill" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Number:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="NumberBill" />
                    <span asp-validation-for="NumberBill" class="text-danger"></span>
                </div>
            </div>

            <legend>Shipping Address:</legend>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Country:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="CountryShip" />
                    <span asp-validation-for="CountryShip" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">City:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="CityShip" />
                    <span asp-validation-for="CityShip" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Zipcode</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ZipCodeShip" />
                    <span asp-validation-for="ZipCodeShip" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Street:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="StreetShip" />
                    <span asp-validation-for="StreetShip" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Number:</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="NumberShip" />
                    <span asp-validation-for="NumberShip" class="text-danger"></span>
                </div>
            </div>


            <input type="submit" value="Submit" class="submit" asp-controller="order" asp-action="order">

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


