@{
    ViewData["Title"] = "Checkout";
}


<div class="row">
    <div class="col-lg-9" mx-auto rounded border p-3>
        <h2 class="text-center mb-5">Checkout Form</h2>

        <form method="post">    
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">First Name:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="firstname"/>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Last Name:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="lastname" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="email" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone Number:</label>
                <div class="col-sm-8">
                    <input class="form-control" name="phonenumber" />
                </div>
            </div>
            
            
            <legend>Billing Address:</legend>
            <div>
                <label for="Country">Country:</label>
                <input type="text" name="Country" value="" />
            </div>
            <div>
                <label for="City">City:</label>
                <input type="text" name="City" value="" />
            </div>
            <div>
                <label for="ZipCode">Zipcode:</label>
                <input type="text" name="ZipCode" value="" />
            </div>
            <div>
                <label for="Address">Address:</label>
                <input type="text" name="Address" value="" />
            </div>
            <legend>Shipping Address:</legend>
            <div>
                <label for="ShipCountry">Country:</label>
                <input type="text" name="ShipCountry" value="" />
            </div>
            <div>
                <label for="ShipCity">City:</label>
                <input type="text" name="ShipCity" value="" />
            </div>
            <div>
                <label for="ShipZipCode">Zipcode:</label>
                <input type="text" name="ShipZipCode" value="" />
            </div>
            <div>
                <label for="ShipAddress">Address:</label>
                <input type="text" name="ShipAddress" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </form>
    </div>
</div>



